$color1: #e23a59; /* logo */
$color2: #44adad; /* c-content */
$color3: #3e506b; /*c-header */
$color6: rgba(0, 0, 0, 0.933); /* secondary heading */ 
$color4: #fcc82b; /* o-image */
$color5: #0f5e8c; /* testimonial */
