.c-header {
  font-size: 24px;
  display: flex;
  background: $color3;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;

  &__logo {
    height: 100%;
  }

  &__nav {
    background: red;
    list-style-type: none;
  }
}
